.error {
    margin-top: 10%;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
}

.error h1 {
    font-size: 400%;
    color: var(--second-color);
    margin-bottom: 1%;
}

.error i {
    color: var(--second-color);
    font-size: 1000%;
}
