fieldset {
    width: 40%;
    width: 40%;
    border-color: var(--second-color);
    padding: 30px;
    margin: 8% 20% 0% 32%;
    color: white;
}

legend {
    font-size: 200%;
}

.controls {
    width: 100%;
    background: var(--main-color);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border-style: none;
    border-bottom: 1px solid var(--second-color);
    font-family: 'calibri';
    font-size: 18px;
    color: white;
}
  
p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}
  
a {
    color: white;
    text-decoration: none;
}
  
a:hover {
    color: white;
    text-decoration: underline;
}
  
input {
    outline: 0;
    margin-bottom: 5%;
}

.botons {
    width: 100%;
    display: block;
    background: var(--second-color);
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

.